<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>ARVREL</string>
  <key>CFBundleExecutable</key>
  <string>Arvrel.Desktop</string>
  <key>CFBundleIconFile</key>
  <string>ARVREL</string>
  <key>CFBundleIdentifier</key>
  <string>io.github.masarray.arvrel</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>ARVREL</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__SHORT_VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__BUILD_VERSION__</string>
  <key>CFBundleGetInfoString</key>
  <string>ARVREL __FULL_VERSION__</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.education</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
</dict>
</plist>
